
.faded{
    -webkit-mask-image:linear-gradient(to left,rgba(0,0,0,.7),rgba(0,0,0,0));
    pointer-events:none;
}
#mainBg{
    max-height:75vh;
    max-width: 100vw;
    position:fixed;
    right:0;
    bottom:0;
    z-index:-9999;
}
body{
    background:#222;
    transition: 0.25s opacity;
}
.mono{
    color:#fff;
    font-family:"Ubuntu Mono",monospace;
    font-size:150%;
}

.regular{
    color:#fff;
    font-family:Ubuntu,sans-serif;
    font-size:250%;
}
.gsans {
    color: #fff;
    font-family: "ProductSansBold",sans-serif;
    font-size: 150%;
}
h1{
    font-size:400%!important;
    font-weight:700;
    margin-bottom:0;
}
.mono.italic,.a.b.c.d{
    font-weight:300;

    font-size:125%;
}
.italic {
    font-style:italic;
}
.a.b.c.d{
    font-style: normal;
}
.sociallink{
    text-decoration:none;
    transition:.1s all;
    display:block;
    color:#ffffff88;
    padding:.2em;
}
.sociallink:hover {
    color:#ffffff;
}
.fab,.fas,a{
    color:#fff;
}
#reddit{
    border-left:.1em solid #FF430080;
}
#reddit:hover{
    border-left:.15em solid #FF4300;
}
#twitter{
    border-left:.1em solid #1da1f280;
}
#twitter:hover{
    border-left:.15em solid #1da1f2;
}
#github{
    border-left:.1em solid #6cc64480;
}
#github:hover{
    border-left:.15em solid #6cc644;
}
#twitch{
    border-left:.1em solid #6441a580;
}
#twitch:hover{
    border-left:.15em solid #6441a5;
}
#discord{
    border-left:.1em solid #7289da80;
}
#discord:hover{
    border-left:.15em solid #7289da;
    color:#ffffff;
}
#mail{
    border-left:.1em solid #168de280;
}
#mail:hover{
    border-left:.15em solid #168de2;
}
#mail::after{
    opacity:0;
    transition:.25s all;
}
#mail:hover::after{
    opacity:1;
}
#back,#devicesBtn{
    margin-top:.75em;
}
.nocolour {
    padding:.2em;
}
.nocolour:hover{
    border-left:.15em solid red;
}
#credits{
    font-size:75%;
    opacity:.25;
    position: fixed;
    right: 0;
    bottom: 0;
    text-align: right;
}
#content,#replacableContent {
    overflow:hidden;
    transform: translate(0%,0);
    transition:1s all;
}
.device-text{
    font-size:50%;
    font-family:"Ubuntu Mono",monospaced;
    font-style:italic;
}
.device{
    padding:.1em;
}
.device:hover{
    border-left:.15em solid #ff0000;
}


.down{
    border-left:.1em solid #FF000080;
}
.down:hover{
    border-left:.15em solid #ff0000;
}
.up{
    border-left:.1em solid #00ff0080;
}
.up:hover{
    border-left:.15em solid #00ff00;
}

#statuscontainer {
    transition: 0.1s all;
}
a {
    text-decoration: none;
}
marquee::after {
    position:fixed;
    top:0;
    left:0;
    font-size: 32px;
    background: red;
    color: #fff;
    content: "GO AWAY"
}

#paypal{
    border-left:.1em solid #0070ba80;
}
#paypal:hover{
    border-left:.15em solid #0070ba;
}
#cashapp{
    border-left:.1em solid #00D04980;
}
#cashapp:hover{
    border-left:.15em solid #00D049;
}

#patreon{
    border-left:.1em solid #FB665680;
}
#patreon:hover{
    border-left:.15em solid #FB6656;
}

#crypto{
    border-left:.1em solid #EC8C19;
}
#crypto:hover{
    border-left:.15em solid #EC8C19;
}
