[submodule "how-many-subs-left-until-t-series-beats-pewdiepie"]
	path = how-many-subs-left-until-t-series-beats-pewdiepie
	url = https://github.com/thelmgn/how-many-subs-left-until-t-series-beats-pewdiepie
